.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal {
  background: white;
  border: 1px solid #cacccd;
  outline: none;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
}

.modal__buttons {
  display: flex;
  justify-content: space-evenly;
}

.modal__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}